- @rh_img = ['rh-dash', 'rh-people', 'rh-messages']
- @ape_img = ['ape1', 'ape2', 'ape3']
- @sound_img = ['sound1', 'sound2', 'sound3']

!!! 5
%html{ lang: "en"}
  %head
    %meta{ charset: "UTF-8"}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, viewport-fit=cover" }
    %title Octoply
    %link{ rel: "stylesheet", href: "style.css?v00002", media: "all" }
    %link{ rel: "apple-touch-icon", href: "/apple-touch-icon.png", sizes: "180x180" }
    %link{ rel: "icon", type: "image/png", sizes: "32x32", href: "/favicon-32x32.png" }
    %link{ rel: "icon", type: "image/png", sizes: "16x16", href: "/favicon-16x16.png" }
    %link{ rel: "manifest", href: "/site.webmanifest" }
    %link{ rel: "mask-icon", href: "/safari-pinned-tab.svg", color: "#0ab7a2" }
    %meta{ name: "msapplication-TileColor", content: "#00aba9" }
    %meta{ name: "theme-color", content: "#b0fffb" }
  %body
    %header
      %div.logo
        <svg width="200px" height="50px" viewBox="0 0 100 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Lockup</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Lockup"><rect id="Rectangle" x="0" y="1.02497013" width="100.000001" height="23.6388947"></rect><g id="Group" transform="translate(3.718470, 0.908739)" fill="var(--primary)"><g id="_-Curve-" transform="translate(56.092980, 8.493551)" fill-opacity="0.65" fill-rule="nonzero"><path d="M2.96973237,0.539426293 C3.85346206,-0.133993215 5.1887607,-0.133993215 6.07255947,0.539426293 C7.77081235,1.83239175 8.61330823,3.30355437 8.88177696,4.7740263 C9.30378465,7.0857546 8.32211602,9.31874462 7.15009498,10.4901492 C8.05129897,9.2469132 8.69301312,7.07055949 7.96903855,5.01714801 C7.81591399,4.58270609 7.59662194,4.15931516 7.30087122,3.75664482 C6.65107607,2.87187519 5.6188494,2.34902538 4.52114592,2.34902538 C3.42337337,2.34902538 2.3911467,2.87187519 1.74135155,3.75664482 C1.44560082,4.15931516 1.22630877,4.58270609 1.07318421,5.01714801 C0.349209639,7.07055949 0.990923791,9.2469132 1.89212778,10.4901492 C0.720175812,9.31874462 -0.261561887,7.0857546 0.160445805,4.7740263 C0.428914529,3.30355437 1.27141041,1.83239175 2.96973237,0.539426293 Z" id="Path"></path></g><g transform="translate(27.465321, 5.276845)" fill-rule="nonzero" id="Shape"><path d="M57.3834911,17.0323867 L58.8788259,17.0323867 L64.0235102,4.48174989 L62.5104095,4.48174989 L59.929145,11.1577885 L57.0808394,4.48174989 L55.4965173,4.48174989 L59.1458668,12.8309436 L57.3834911,17.0323867 Z M40.1159199,17.0323867 L41.5934098,17.0323867 L41.5934098,12.2616445 C42.1274918,13.1870516 43.2133427,13.9529602 44.7442882,13.9529602 C47.3077868,13.9529602 48.9810963,11.9947609 48.9810963,9.14589659 L48.9810963,9.00376921 C48.9810963,6.10200197 47.1831888,4.32225139 44.7442882,4.32225139 C43.3913963,4.32225139 42.1274918,5.14106299 41.5934098,6.04830941 L41.5934098,4.48174989 L40.1159199,4.48174989 L40.1159199,17.0323867 Z M4.58375612,13.9529602 C7.23624216,13.9529602 9.17659258,12.012132 9.17659258,9.19958915 L9.17659258,9.05746177 C9.17659258,6.26229006 7.23624216,4.32225139 4.60152201,4.32225139 C1.96688081,4.32225139 0.0265303875,6.27966119 0.0265303875,9.0748329 L0.0265303875,9.21774987 C0.0265303875,11.9410683 1.93134904,13.9529602 4.58375612,13.9529602 Z M15.6920136,13.9529602 C17.9350157,13.9529602 19.5549486,12.4574644 19.7507681,10.4455725 L18.3800314,10.4455725 C18.2198226,11.9584394 17.0271395,12.7243481 15.7097795,12.7243481 C13.911872,12.7243481 12.6657333,11.5138966 12.6657333,9.23512099 L12.6657333,9.09299362 C12.6657333,6.90344245 13.9652486,5.550074 15.6564029,5.550074 C16.9381522,5.550074 18.0062372,6.10200197 18.2376674,7.57933707 L19.6973915,7.57933707 C19.4125846,5.21212668 17.5967533,4.32225139 15.6564029,4.32225139 C13.1641256,4.32225139 11.1347879,6.24412934 11.1347879,9.09299362 L11.1347879,9.23512099 C11.1347879,12.1187275 13.0929831,13.9529602 15.6920136,13.9529602 Z M25.1624934,13.9174284 C25.7677178,13.9174284 26.1237462,13.828204 26.4263979,13.7208189 L26.4263979,12.4748355 C26.1059803,12.5995918 25.749952,12.6706555 25.2870914,12.6706555 C24.5394241,12.6706555 24.1300191,12.2261126 24.1300191,11.3180766 L24.1300191,5.72852281 L26.3017998,5.72852281 L26.3017998,4.48174989 L24.1300191,4.48174989 L24.1300191,2.36405201 L22.6524503,2.36405201 L22.6524503,4.48174989 L21.3173243,4.48174989 L21.3173243,5.72852281 L22.6524503,5.72852281 L22.6524503,11.460204 C22.6524503,12.920168 23.4713391,13.9174284 25.1624934,13.9174284 Z M51.6691931,13.7926722 L53.1645278,13.7926722 L53.1645278,0.0315838611 L51.6691931,0.0315838611 L51.6691931,13.7926722 Z M4.60152201,12.7243481 C2.71454819,12.7243481 1.55747587,11.3354478 1.55747587,9.21774987 L1.55747587,9.0748329 C1.55747587,6.93897429 2.73239304,5.550074 4.60152201,5.550074 C6.45296405,5.550074 7.64564709,6.93897429 7.64564709,9.09299362 L7.64564709,9.21774987 C7.64564709,11.3180766 6.47072993,12.7243481 4.60152201,12.7243481 Z M44.6019242,12.7243481 C42.7861718,12.7243481 41.5400332,11.603121 41.5400332,9.21774987 L41.5400332,9.0748329 C41.5400332,6.68946179 42.8573143,5.550074 44.5840794,5.550074 C46.1506356,5.550074 47.4501508,6.72499363 47.4501508,9.0748329 L47.4501508,9.21774987 C47.4501508,11.4783647 46.4532873,12.7243481 44.6019242,12.7243481 Z"></path></g><g transform="translate(1.053590, 1.579744)" fill-opacity="0.65" id="Shape"><path d="M10.0138584,9.41234794 C9.34313949,8.7538219 8.92952482,7.69865164 8.79886529,7.32915098 C8.58812412,6.73463425 7.98765229,5.43101344 7.37931278,5.49600622 C6.72236231,5.5662254 5.63887171,6.23694637 3.65678077,5.61301008 C1.6752518,4.98910189 0.0207931287,5.9886363 0.0207931287,5.9886363 C1.19644786,4.70358887 3.07569712,5.01602065 3.07569712,5.01602065 C3.07569712,5.01602065 4.65962774,5.38695435 5.77009321,4.9296727 C6.88083967,4.47261583 8.16186499,3.66544656 9.23383507,5.30667577 C10.3058051,6.94812977 10.8925086,8.47960464 11.5871115,7.31673126 C12.2814334,6.15385789 11.0698121,3.79346519 10.9669704,3.2907757 C10.8644097,2.7880862 10.6977837,0.620985902 12.7756916,0.09045039 C14.8535996,-0.440085122 15.9118012,2.12132718 15.9533875,3.60461242 C15.9952547,5.08786956 15.6858867,7.54795719 16.7960712,7.78898964 C17.9065366,8.02982539 18.3187464,7.24769224 18.8801608,6.19246579 C19.4412943,5.13605919 20.6967497,4.79089218 21.7816453,5.73307672 C22.8665408,6.67503647 24.2239949,6.82317392 24.7370794,6.9809212 C25.2498829,7.13816269 27.7265131,7.68510797 28.4250499,5.66075013 C28.2390357,6.34976349 27.323857,8.63021479 22.5220492,7.2925662 C21.5273509,7.01545476 20.7554763,6.20971852 20.1713017,6.74424408 C19.6303994,7.23929067 19.3912784,8.99134198 18.2864327,9.69468579 C18.6413209,10.1670847 18.9270859,10.6270919 19.1743555,11.0693687 C19.5376733,11.7196618 19.8040501,12.3017026 20.1443269,12.7598834 C20.3578779,13.0473353 20.5773297,13.2927793 20.8968133,13.4401861 C21.4186085,13.6812186 21.8946025,13.6713559 22.3326632,13.5291473 C23.290552,13.2180643 24.0472533,12.4264618 24.5600568,12.3090926 C24.0621457,12.5332095 23.4498724,13.4876733 22.5386275,13.9997197 C21.9980062,14.3037499 21.3697165,14.429324 20.6163871,14.2492661 C20.1139801,14.1292276 19.7163818,13.856612 19.3258082,13.5042517 C18.70932,12.9482866 18.1720705,12.1124003 17.3097177,11.2575471 C17.302412,12.0025616 17.1731574,12.8219258 16.8747479,13.654356 C16.4597283,14.8123964 15.7687782,15.9982266 14.6715192,16.9936585 C15.3624693,17.5196701 15.7052749,18.1182612 15.8142983,18.7166275 C15.9859821,19.6570699 15.5866979,20.565339 15.1098608,21.0419527 C15.4765505,20.5361724 15.7375885,19.6507476 15.4431129,18.8153108 C15.4431129,18.8152546 15.4431129,18.8151985 15.4431129,18.8151423 C15.2332147,18.2202883 14.6712382,17.8224359 14.0404197,17.8224359 C13.4096011,17.8224359 12.8476246,18.2202883 12.6377264,18.8151423 C12.6377264,18.8151985 12.6377264,18.8152546 12.6377264,18.8153108 C12.3432508,19.6507476 12.6042888,20.5361724 12.9706975,21.0419527 C12.4941414,20.565339 12.0945762,19.6570699 12.26626,18.7166275 C12.3755644,18.1182612 12.7183701,17.5196701 13.4093201,16.9936585 C12.3117801,15.9982266 11.621111,14.8123964 11.2060914,13.654356 C10.9076819,12.8219258 10.7784273,12.0025616 10.7711216,11.2575471 C9.90876878,12.1124003 9.3715193,12.9482866 8.75503113,13.5042517 C8.3644575,13.856612 7.96685916,14.1292276 7.46445221,14.2492661 C6.71112278,14.429324 6.08283311,14.3037499 5.54193077,13.9997197 C4.63096694,13.4876733 4.01841261,12.5332095 3.52078247,12.3090926 C4.03358598,12.4264618 4.79028727,13.2180643 5.74817613,13.5291473 C6.18623677,13.6713559 6.66223083,13.6812186 7.18402596,13.4401861 C7.50322859,13.2927793 7.72296138,13.0473353 7.93623144,12.7598834 C8.27678917,12.3017026 8.54288502,11.7196618 8.90648378,11.0693968 C9.20292636,10.5393952 9.55416164,9.98393596 10.0138584,9.41234794 Z M14.0480063,9.25657028 C13.41213,9.26069813 13.101919,9.78249488 13.0226803,9.93816284 C12.6582386,10.6535611 12.3275154,11.8615332 12.5938923,13.2777463 C12.791146,14.327915 13.2314545,15.4351525 14.0404197,16.4374687 C14.8493848,15.4351525 15.2896933,14.327915 15.486947,13.2777463 C15.7533239,11.8615332 15.3534776,10.5833981 15.0640598,9.92504065 C14.9822922,9.73961594 14.6838827,9.25252134 14.0480063,9.25657028 Z"></path></g><g transform="translate(15.014949, 5.419944) rotate(-180.000000) translate(-15.014949, -5.419944) translate(0.514949, 0.919944)" fill-rule="nonzero" id="Path"><path d="M28.4407312,2.35080152 C28.1142252,2.7289892 27.7255352,2.98665296 27.32383,3.15889685 C26.9203572,3.32809839 26.501941,3.41398631 26.0825608,3.44557996 C25.8725493,3.46055769 25.6623771,3.46219588 25.4510801,3.44487788 C25.23432,3.41398631 25.0381271,3.37981837 24.8294011,3.36296842 C24.4180549,3.32599215 24.0051019,3.32248174 23.5979335,3.37326561 C23.3948313,3.39994469 23.1926932,3.43621888 22.995697,3.49706591 C22.8003076,3.55440253 22.6087745,3.64894945 22.4085646,3.74021999 C22.0124832,3.92252705 21.6083678,4.11396116 21.1780611,4.2052317 C20.7514501,4.29954459 20.2837045,4.26958913 19.8641636,4.00396846 C19.6551162,3.87501956 19.4622977,3.69505278 19.291814,3.48442845 C19.1181166,3.26935761 18.9797693,3.03930904 18.8357982,2.81768544 C18.5501054,2.37045979 18.2801595,1.90310781 17.9960735,1.49192232 C17.8545126,1.29065907 17.7058817,1.09711872 17.5593396,0.991338499 C17.4079771,0.886494389 17.3089969,0.893749227 17.1836648,1.0208259 C17.1226056,1.08377918 17.0601003,1.17668791 17.0061111,1.27848966 C16.9670654,1.35665469 16.9276983,1.4666474 16.9082557,1.57617205 C16.8642288,1.79990189 16.8719416,2.06458646 16.9079344,2.33020714 C16.9823302,2.86636306 17.1565096,3.40064677 17.3477213,3.92018678 C17.4439698,4.18416927 17.5482525,4.43317403 17.650607,4.72523976 C17.6634616,4.76268409 17.6764768,4.80223465 17.6894921,4.84693382 C17.7015432,4.8848462 17.719379,4.96324525 17.7250028,4.99717917 C17.7420351,5.09196012 17.7521581,5.17457166 17.7609956,5.26162971 C17.7773852,5.43317153 17.7828484,5.60401126 17.7781886,5.77531905 C17.7690297,6.11723254 17.7179328,6.4614863 17.6202381,6.78093319 C17.5231861,7.10014606 17.3785722,7.38940347 17.2059997,7.62530272 C16.8571588,8.09967551 16.421389,8.35710524 15.9949387,8.50945684 C15.5710593,8.66110635 15.1111872,8.72265546 14.6622414,8.61500303 C14.2128135,8.50969086 13.780418,8.23073064 13.4235431,7.82235348 C13.0650613,7.41538047 12.7792079,6.89045784 12.5757843,6.30819859 C12.4747153,6.01613286 12.3932495,5.70862134 12.3390996,5.38519599 C12.280772,5.06551506 12.2680781,4.70534746 12.2712918,4.40251649 C12.2735413,3.78140875 12.2981257,3.18276761 12.2820575,2.60144446 C12.2733806,2.31242108 12.2539381,2.02784421 12.2099112,1.76643602 C12.1662057,1.50572991 12.0947021,1.27076677 11.9883306,1.11396866 C11.8789061,0.953660147 11.7501997,0.875963173 11.5551317,0.845773686 C11.3685797,0.811371713 11.1759219,0.804116875 10.9993323,0.849752146 C10.6408505,0.929321336 10.347445,1.26117166 10.0863366,1.70090845 C9.95232774,1.91972373 9.83261958,2.14953827 9.69346888,2.39643679 C9.53696452,2.66088733 9.35298352,2.86729917 9.15020271,3.02409728 C8.33313425,3.65035361 7.33288819,3.47436529 6.59664282,2.80200563 C5.84175833,2.14626189 4.98194843,1.86168502 4.29294359,1.67212313 C4.09707212,1.61829691 3.22697856,1.38169558 3.01455683,1.34939985 C2.60513884,1.28761672 2.24858527,1.23870507 1.83691774,1.25672515 C1.42605361,1.27661745 1.08203324,1.51392086 0.740744468,1.78211583 C0.486866755,1.98150686 0.28039026,2.17013265 0.0340646046,2.6805456 C0.228811306,2.16170768 0.352054475,1.98080478 0.715356697,1.68265435 C1.0024956,1.4467551 1.29220543,1.25578904 1.50880489,1.17153931 C1.66916563,1.10928812 1.83209727,1.08471528 1.99310073,1.07160977 C2.25629801,1.05054734 2.67005441,1.04422861 3.08911332,1.08799166 C3.33624239,1.11373464 4.15941677,1.28457437 4.33118593,1.33231588 C5.22875613,1.5817887 6.0771576,1.82307056 6.75443264,2.4034576 C7.09700687,2.69716152 7.47750208,2.86425682 7.86538866,2.89468033 C8.25070433,2.92486982 8.64244728,2.81183476 8.96959603,2.54340576 C9.13252768,2.41164854 9.2795518,2.23425605 9.3917079,2.03580113 C9.51318357,1.81090116 9.6412472,1.55347142 9.78071926,1.31523191 C9.92083405,1.07441809 10.079588,0.83758274 10.2724065,0.64217017 C10.4637789,0.445821492 10.6921081,0.305171247 10.9239724,0.244558246 C11.1572828,0.180902894 11.3854514,0.186519543 11.6113704,0.223729841 L11.6888192,0.237771462 C11.7251333,0.246196436 11.7519672,0.251579057 11.7842643,0.262578328 C11.8461269,0.281534517 11.9081502,0.308447625 11.9688881,0.344955842 C12.0903637,0.416100059 12.2062155,0.525390682 12.2994111,0.662062468 C12.4888553,0.937746309 12.5855859,1.28246812 12.6437529,1.60495737 C12.7019198,1.93165911 12.7252187,2.25321224 12.7379126,2.56844665 C12.7626576,3.19868145 12.7355023,3.81183226 12.7366271,4.40228246 C12.735663,4.70487941 12.745304,4.95435222 12.7938299,5.2225472 C12.8389816,5.48769983 12.9087176,5.74910802 12.9956467,5.99717667 C13.1704688,6.49284592 13.4164731,6.93796533 13.7158238,7.27402815 C14.0145318,7.6121972 14.3675504,7.83569302 14.7401722,7.92275107 C15.1140794,8.01378759 15.5000378,7.96908842 15.8832646,7.83545899 C16.2610282,7.70440385 16.6209561,7.4823122 16.8844748,7.12495293 C17.1489575,6.77204017 17.2999987,6.27660494 17.3136567,5.7472358 C17.3191199,5.49074218 17.3036944,5.19610229 17.2365293,5.02409228 L16.9456947,4.23074065 C16.7512693,3.6805431 16.5637533,3.10577271 16.4773063,2.44862481 C16.4371358,2.12168905 16.4226744,1.76315964 16.4954634,1.40205594 C16.5324203,1.21998291 16.5878556,1.05429177 16.6741419,0.890706876 C16.7490198,0.755439253 16.8332172,0.629064657 16.9426417,0.51766779 C17.0498167,0.407441059 17.1923417,0.320148977 17.3433828,0.312660112 C17.4941027,0.304469166 17.632932,0.369996734 17.7449274,0.454246465 C17.969561,0.627426467 18.1294397,0.854198659 18.2817663,1.07839655 C18.5809564,1.53240899 18.8393332,2.00303735 19.1137782,2.45166717 C19.2516434,2.67492895 19.3861344,2.90521155 19.5275346,3.08681653 C19.6713451,3.27263399 19.8307417,3.42826196 20.0031536,3.54129702 C20.3481381,3.77298378 20.743416,3.81698086 21.1377299,3.75098524 C21.5339719,3.68592572 21.9294106,3.52093667 22.3293483,3.35571358 C22.5277907,3.27520828 22.7331424,3.18393774 22.9473317,3.13081361 C23.15895,3.07675336 23.3710504,3.04515971 23.5828294,3.03182017 C24.0063874,3.00584317 24.4272138,3.03650071 24.8448266,3.10039009 C25.0509817,3.12964347 25.2670991,3.18066136 25.463292,3.22114804 C25.6665548,3.25086947 25.873192,3.2623368 26.0790257,3.26069861 C26.4906933,3.25601807 26.903807,3.19610229 27.3055122,3.05709509 C27.7065747,2.92112539 28.0996031,2.7004379 28.4407312,2.35080152"></path></g></g></g></g></svg>
        %h1 Octoply
      %form{ action: "", id: "login" }
        <svg foc  ,0,1,1,28,16,12,12,0,0,1,16,28Z"></path><path d="M11.5 11A2.5 2.5 0 1014 13.5 2.48 2.48 0 0011.5 11zM20.5 11A2.5 2.5 0 1023 13.5 2.48 2.48 0 0020.5 11zM16 24a8 8 0 006.85-3.89l-1.71-1a6 6 0 01-10.28 0l-1.71 1A8 8 0 0016 24z"></svg>
        .floating__label
          %input#login-email{ type: "email", name: "login-email", placeholder: "Email" }
          %label{ for: "login-email" } Email:
        .floating__label
          %input#password{ type: "password", name: "password", placeholder: "Password" }
          %label{ for: "password" } Password:
        %button{ type:"submit" } Log in

      %nav.menu
        %a{ :href => "#Innovating%20at%20the%20intersection" } Projects
        %a{ :href => "#Working%20with%20us" } Jobs
        %a{ :href => "#Find%20us" } Map
        %a{ :href => "#Contact%20us" } Contact

    %section.about
      .health_def
        %p Health as defined by the World Health Organisation is ‘a state of complete physiccd im al, mental and social well-being and not merely the absence of disease or infirmity’.
        %p It covers a wide remit for improving the quality of life for individuals and spans disciplines beyond those that are typically associated with health.
    %section.work
      %h2 
        %span Innovating
        at the intersection
      %p We work on software and marine infrastructure projects that are beneficial to health in its wider context.
      .projects
        .project#project1
          %h3 Robin's Hood
          %p Organisational tool with a focus on record keeping and collaboration
          .carousel{ :aria-label => "Gallery" }
            %ol.carousel__viewport
              - @rh_img.each_with_index do |img, index|
                %li.carousel__slide{ id: "carousel0__slide#{index}", tabindex: "0" }
                  %img.carousel__image{ width: '500px', src: "images/#{img}.png", alt: "Robin's Hood example image" }
                  .carousel__snapper
            %aside.carousel__navigation
              - @rh_img.each_with_index do |img, index|
                %ol.carousel__navigation-list
                  %li.carousel__navigation-item
                    %a.carousel__navigation-button{ href: "#carousel0__slide#{index}" } Go to slide #{index}

        .project#project2
          %h3 Apecade
          %p Marine infrastructure design and development for marine transport and data services
          .carousel{ :aria-label => "Gallery" }
            %ol.carousel__viewport
              - @ape_img.each_with_index do |img, index|
                %li.carousel__slide{ id: "carousel1__slide#{index}", tabindex: "0" }
                  %img.carousel__image{ width: '500px', src: "images/#{img}.png", alt: "Apecade design example" }
                  .carousel__snapper
            %aside.carousel__navigation
              - @ape_img.each_with_index do |img, index|
                %ol.carousel__navigation-list
                  %li.carousel__navigation-item
                    %a.carousel__navigation-button{ href: "#carousel1__slide#{index}" } Go to slide #{index}

        .project#project3
          %h3 MV Sound
          %p Used to test carbon abatement technologies in shipping and the deployment and servicing of submerged structures
          .carousel{ :aria-label => "Gallery" }
            %ol.carousel__viewport
              - @sound_img.each_with_index do |img, index|
                %li.carousel__slide{ id: "carousel3__slide#{index}", tabindex: "0" }
                  %img.carousel__image{ src: "images/#{img}.jpg", alt: "MV Sound image" }
                  .carousel__snapper
            %aside.carousel__navigation
              - @ape_img.each_with_index do |img, index|
                %ol.carousel__navigation-list
                  %li.carousel__navigation-item
                    %a.carousel__navigation-button{ href: "#carousel3__slide#{index}" } Go to slide #{index}

    %section.jobs
      %h2
        %span Working
        with or for us
      #rh_app_form
        %script{ src: "https://robinshood.co.uk/appform/rh.js", type: "text/javascript" }
        :javascript
          robinshood.init(["5d7a005fab80f"]);
          robinshood.appform();
        %noscript
          %p Your browser doesn't have javascript enabled so you can't use our job application form.
          %p If you wish to see and use this form, please enable javascript or use a javascript enabled browser.

    %section.location
      %h2 Find us
      .maps
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.1567725934265!2d-0.1243224840036247!3d51.49199051965031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604ea3777ff07%3A0x25e4769fcd85f70d!2sTamesis%20Dock!5e0!3m2!1sen!2suk!4v1592301766755!5m2!1sen!2suk" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.065095494771!2d0.07522251599641898!3d51.49367291952741!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a8c75ea4b80b%3A0xeaf5c3ba56ffad52!2sOctoply!5e0!3m2!1sen!2suk!4v1591976786961!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.6497890676987!2d-0.13870168400385072!3d51.482942320311786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604fd2f88cb27%3A0xbe3ab1136ce012da!2sThe%20Battersea%20Barge!5e0!3m2!1sen!2suk!4v1592301808758!5m2!1sen!2suk" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      %noscript
        :css
          iframe {display: none};
        %p You cannot see the embedded google map here as javascript is not enabled in your browser

      %section.contact
        %h2
          %span Contact us
      %form{ id: "contactForm", method: "post" }
        .floating__label
          %input#name{ type: "text", name: "name", placeholder: "Name" }
          %label{ for: "name" } Name:
        .floating__label
          %input#contact-email{ type: "email", name: "email", placeholder: "Email" }
          %label{ for: "email" } Email:
        .floating__label
          %input#telephone{ type: "tel", name: "telephone", placeholder: "Phone number" }
          %label{ for: "email" } Phone number:
        .floating__label
          %textarea#message{ name: "message", cols: "40", rows: "6", placeholder: "Message" }
          %label{ for: "message" } Message:
        %input{ id: "contact_me_by_fax_only", type: "checkbox", name: "contact_me_by_fax_only", value: "1", tabindex: "-1", autocomplete: "off" }
        %button{ type:"submit" } Send your message
        .contact__info
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
          %a{ href: "tel:+442075821066>02075821066" }
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map"><polygon points="1 6 1 22 8 18 16 22 23 18 23 2 16 6 8 2 1 6"></polygon><line x1="8" y1="2" x2="8" y2="18"></line><line x1="16" y1="6" x2="16" y2="22"></line></svg>
          %address Octoply Ltd, Tamesis Dock, Albert Embankment, London, SE1 7TP

    %footer
      .caption
        <svg id="footnote" viewBox="0 0 1024 90" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" fill="var(--primary)"><path d="M10.37 55.68c5.4 0 9.39-3.46 9.39-8.02 0-5.13-3.2-6.95-9.23-7.9-5.55-.84-6.54-2.2-6.54-4.87 0-2.54 1.94-4.4 5.66-4.4 3.76 0 5.74 1.4 6.39 4.82H19c-.53-4.83-3.91-7.49-9.35-7.49-5.13 0-8.74 3.2-8.74 7.38 0 4.82 3.38 6.6 9.08 7.48 5.17.84 6.58 2.13 6.58 5.2 0 3.09-2.7 5.14-6.2 5.14-5.47 0-6.76-2.74-7.18-5.97H0c.5 4.64 3.12 8.63 10.37 8.63zM48.15 55.34h3.15V43.18a5.08 5.08 0 015.24-5.32c2.74 0 4.22 1.44 4.22 4.94v12.54h3.16V43.18a5.08 5.08 0 015.24-5.32c2.74 0 4.22 1.44 4.22 4.94v12.54h3.15V43.02c0-5.77-3.11-7.9-6.69-7.9-2.47 0-5.43 1.14-6.8 3.72-1.02-2.66-3.27-3.72-5.81-3.72-2.85 0-5.02 1.52-5.93 3.38v-3.04h-3.15v19.88zM90.86 55.68c4.48 0 7.79-2.1 8.47-6.08h-3.15c-.42 2.32-2.2 3.46-5.28 3.46-4.07 0-6.24-2.51-6.39-7.03h14.97V45c0-7.1-4.33-9.88-8.93-9.88-5.47 0-9.3 4.18-9.3 10.18v.3c0 6.13 3.98 10.08 9.6 10.08zm-6.23-12.2c.53-3.53 2.7-5.74 5.92-5.74 3.27 0 5.4 1.64 5.7 5.74H84.63zM120.42 55.6c1.3 0 2.05-.19 2.7-.42v-2.66a6.5 6.5 0 01-2.43.42c-1.6 0-2.47-.95-2.47-2.89V38.12h4.63v-2.66h-4.63v-4.52h-3.16v4.52h-2.85v2.66h2.85v12.24c0 3.11 1.75 5.24 5.36 5.24zM127.87 55.34h3.15V43.29c0-3.57 2.63-5.43 5.55-5.43 3.2 0 4.68 1.55 4.68 5.05v12.43h3.15v-12.2c0-5.78-2.89-8.02-7-8.02-3.26 0-5.46 1.63-6.38 3.5V25.96h-3.15v29.38zM150.67 55.34h3.15V35.46h-3.15v19.88zm1.52-24.02a2.1 2.1 0 002.09-2.1 2.1 2.1 0 00-2.09-2.08 2.1 2.1 0 00-2.09 2.09 2.1 2.1 0 002.09 2.09zM160.28 55.34h3.16V43.29c0-3.57 2.62-5.43 5.55-5.43 3.19 0 4.67 1.55 4.67 5.05v12.43h3.15v-12.2c0-5.78-2.88-8.02-6.99-8.02-3.27 0-5.47 1.63-6.38 3.5v-3.16h-3.16v19.88zM190.95 62.6c5.55 0 9.46-2.82 9.5-8.6V35.47h-3.15v3.2c-1.14-1.94-3.2-3.54-6.5-3.54-5.47 0-9.27 4.48-9.27 9.88v.27c0 5.47 3.83 9.42 9.04 9.42a8.24 8.24 0 006.73-3.76v2.89c0 4.25-2.47 6.11-6.39 6.11-3.38 0-5.28-1.17-5.74-3.45h-3.23c.54 3.34 3.12 6.11 9.01 6.11zm-.04-10.53c-3.34 0-6.12-2.59-6.12-6.92v-.3c0-4.18 2.36-7.1 6.31-7.1 3.88 0 6.31 2.58 6.31 7.02v.27c0 4.44-2.81 7.03-6.5 7.03zM212.99 55.68c4.83 0 7.3-2.43 7.3-6.04 0-4.22-2.9-5.13-7-5.9-3.64-.64-4.63-1.36-4.63-3.15 0-1.7 1.48-2.85 3.76-2.85 2.5 0 3.72.95 4.18 3.12h3.04c-.53-4.3-3.61-5.74-7.18-5.74-3.12 0-6.73 1.9-6.73 5.59 0 3.45 1.75 4.9 6.92 5.85 3.08.57 4.63 1.25 4.63 3.34 0 2.13-1.33 3.16-4.33 3.16-3.19 0-4.44-1.49-4.67-3.84h-3.08c.19 4.06 3.04 6.46 7.79 6.46zM241.19 55.6c1.29 0 2.05-.19 2.7-.42v-2.66a6.5 6.5 0 01-2.44.42c-1.6 0-2.47-.95-2.47-2.89V38.12h4.64v-2.66h-4.64v-4.52h-3.15v4.52h-2.85v2.66h2.85v12.24c0 3.11 1.75 5.24 5.36 5.24zM253.8 55.68c2.93 0 4.71-1 6.2-2.85v2.5h3.15v-13.1c0-5.55-3.46-7.11-7.26-7.11-3.84 0-7.45 1.67-7.86 6.2h3.15c.3-2.44 1.82-3.58 4.56-3.58 3.04 0 4.26 1.33 4.26 4.49v1.44h-2.85c-5.1 0-9.96 1.56-9.96 6.16 0 4.06 2.93 5.85 6.61 5.85zm.3-2.51c-2.77 0-3.76-1.3-3.76-3.34 0-2.93 2.93-3.92 6.92-3.92H260v2.47c0 3.08-2.55 4.79-5.9 4.79zM269.34 55.34h3.16v-10.3l8.81 10.3h3.84l-9.23-10.64 8.51-9.24h-3.69l-8.24 9.16V25.96h-3.16v29.38zM296.32 55.68c4.49 0 7.8-2.1 8.48-6.08h-3.16c-.41 2.32-2.2 3.46-5.28 3.46-4.06 0-6.23-2.51-6.38-7.03h14.97V45c0-7.1-4.33-9.88-8.93-9.88-5.47 0-9.31 4.18-9.31 10.18v.3c0 6.13 3.99 10.08 9.61 10.08zm-6.23-12.2c.53-3.53 2.7-5.74 5.93-5.74 3.27 0 5.4 1.64 5.7 5.74h-11.63zM325.89 55.6c1.29 0 2.05-.19 2.7-.42v-2.66a6.5 6.5 0 01-2.44.42c-1.6 0-2.47-.95-2.47-2.89V38.12h4.64v-2.66h-4.64v-4.52h-3.15v4.52h-2.85v2.66h2.85v12.24c0 3.11 1.75 5.24 5.36 5.24zM333.41 55.34h3.16V35.46h-3.16v19.88zm1.52-24.02a2.1 2.1 0 002.1-2.1 2.1 2.1 0 00-2.1-2.08 2.1 2.1 0 00-2.09 2.09 2.1 2.1 0 002.1 2.09zM343.03 55.34h3.15V43.18a5.08 5.08 0 015.24-5.32c2.74 0 4.22 1.44 4.22 4.94v12.54h3.16V43.18a5.08 5.08 0 015.24-5.32c2.74 0 4.22 1.44 4.22 4.94v12.54h3.15V43.02c0-5.77-3.11-7.9-6.69-7.9-2.47 0-5.43 1.14-6.8 3.72-1.02-2.66-3.27-3.72-5.81-3.72-2.85 0-5.02 1.52-5.93 3.38v-3.04h-3.15v19.88zM385.74 55.68c4.48 0 7.79-2.1 8.47-6.08h-3.15c-.42 2.32-2.2 3.46-5.28 3.46-4.07 0-6.24-2.51-6.39-7.03h14.97V45c0-7.1-4.33-9.88-8.93-9.88-5.47 0-9.3 4.18-9.3 10.18v.3c0 6.13 3.98 10.08 9.6 10.08zm-6.23-12.2c.53-3.53 2.7-5.74 5.92-5.74 3.27 0 5.4 1.64 5.7 5.74h-11.62z" fill-rule="nonzero"/><path d="M30.11 33.77a5.7 5.7 0 016.71 0c3.68 2.8 5.5 5.98 6.08 9.16.91 5-1.2 9.83-3.74 12.36 1.95-2.68 3.33-7.4 1.77-11.84-.33-.93-.8-1.85-1.45-2.72a7.46 7.46 0 00-12.03 0c-.64.87-1.11 1.79-1.44 2.72-1.57 4.45-.18 9.16 1.77 11.84a14.52 14.52 0 01-3.75-12.36c.58-3.18 2.4-6.37 6.08-9.16z" fill-opacity=".7" fill-rule="nonzero"/><g><path d="M544.36 59.17h3.31V34.7h7.9V32h-19.11v2.7h7.9v24.47zM559.87 59.17h3.15V47.13c0-3.58 2.62-5.44 5.55-5.44 3.2 0 4.67 1.56 4.67 5.06v12.42h3.16v-12.2c0-5.77-2.89-8.01-7-8.01-3.26 0-5.47 1.63-6.38 3.5V29.8h-3.15v29.37zM590.72 59.51c4.49 0 7.8-2.09 8.48-6.08h-3.16c-.41 2.32-2.2 3.46-5.28 3.46-4.06 0-6.23-2.5-6.38-7.03h14.97v-1.02c0-7.11-4.33-9.88-8.93-9.88-5.47 0-9.31 4.18-9.31 10.18v.3c0 6.12 3.99 10.07 9.61 10.07zm-6.23-12.2c.53-3.53 2.7-5.73 5.93-5.73 3.27 0 5.4 1.63 5.7 5.74h-11.63zM619.22 59.51c2.93 0 4.72-.98 6.2-2.85v2.51h3.15v-13.1c0-5.56-3.46-7.11-7.26-7.11-3.83 0-7.44 1.67-7.86 6.19h3.15c.3-2.43 1.83-3.57 4.56-3.57 3.04 0 4.26 1.33 4.26 4.48v1.45h-2.85c-5.1 0-9.96 1.55-9.96 6.15 0 4.07 2.93 5.85 6.61 5.85zm.3-2.5c-2.77 0-3.75-1.3-3.75-3.35 0-2.92 2.92-3.91 6.91-3.91h2.74v2.47c0 3.08-2.55 4.79-5.9 4.79zM635 29.91h3.03v29.26H635zM650.54 59.44c1.29 0 2.05-.2 2.7-.42v-2.66a6.5 6.5 0 01-2.44.42c-1.6 0-2.47-.95-2.47-2.89V41.96h4.64V39.3h-4.64v-4.52h-3.15v4.52h-2.85v2.66h2.85v12.23c0 3.12 1.75 5.25 5.36 5.25zM666.12 59.51c4.48 0 7.79-2.09 8.47-6.08h-3.15c-.42 2.32-2.2 3.46-5.29 3.46-4.06 0-6.23-2.5-6.38-7.03h14.97v-1.02c0-7.11-4.33-9.88-8.93-9.88-5.47 0-9.3 4.18-9.3 10.18v.3c0 6.12 3.98 10.07 9.6 10.07zm-6.24-12.2c.54-3.53 2.7-5.73 5.93-5.73 3.27 0 5.4 1.63 5.7 5.74h-11.63zM679.57 59.17h3.15v-10.9c0-4.9 2.55-6.16 6.54-6.35v-2.96c-3.57.11-5.28 1.67-6.54 3.91V39.3h-3.15v19.87zM693.86 59.17H697V47.13c0-3.58 2.62-5.44 5.55-5.44 3.19 0 4.67 1.56 4.67 5.06v12.42h3.16v-12.2c0-5.77-2.9-8.01-7-8.01-3.26 0-5.47 1.63-6.38 3.5V39.3h-3.15v19.87zM721.56 59.51c2.92 0 4.71-.98 6.2-2.85v2.51h3.15v-13.1c0-5.56-3.46-7.11-7.26-7.11-3.84 0-7.45 1.67-7.87 6.19h3.16c.3-2.43 1.82-3.57 4.56-3.57 3.04 0 4.25 1.33 4.25 4.48v1.45h-2.85c-5.09 0-9.95 1.55-9.95 6.15 0 4.07 2.92 5.85 6.6 5.85zm.3-2.5c-2.77 0-3.76-1.3-3.76-3.35 0-2.92 2.93-3.91 6.92-3.91h2.73v2.47c0 3.08-2.54 4.79-5.89 4.79zM743.14 59.44c1.3 0 2.05-.2 2.7-.42v-2.66a6.5 6.5 0 01-2.43.42c-1.6 0-2.47-.95-2.47-2.89V41.96h4.63V39.3h-4.63v-4.52h-3.16v4.52h-2.85v2.66h2.85v12.23c0 3.12 1.75 5.25 5.36 5.25zM750.67 59.17h3.15V39.3h-3.15v19.87zm1.52-24.01a2.1 2.1 0 002.09-2.1 2.1 2.1 0 00-2.1-2.08 2.1 2.1 0 00-2.08 2.09 2.1 2.1 0 002.09 2.09zM765.26 59.17h4.03l7.14-19.87h-3.27l-5.81 16.68-5.9-16.68h-3.41l7.22 19.87zM788.13 59.51c4.49 0 7.8-2.09 8.48-6.08h-3.16c-.41 2.32-2.2 3.46-5.28 3.46-4.06 0-6.23-2.5-6.38-7.03h14.97v-1.02c0-7.11-4.33-9.88-8.93-9.88-5.47 0-9.31 4.18-9.31 10.18v.3c0 6.12 3.99 10.07 9.61 10.07zm-6.23-12.2c.53-3.53 2.7-5.73 5.93-5.73 3.27 0 5.4 1.63 5.7 5.74H781.9zM811.66 59.17h3.15v-10.9c0-4.9 2.55-6.16 6.54-6.35v-2.96c-3.58.11-5.29 1.67-6.54 3.91V39.3h-3.15v19.87zM826.02 59.17h3.15V39.3h-3.15v19.87zm1.52-24.01a2.1 2.1 0 002.09-2.1 2.1 2.1 0 00-2.09-2.08 2.1 2.1 0 00-2.09 2.09 2.1 2.1 0 002.09 2.09zM840.61 59.17h4.03l7.14-19.87h-3.26l-5.82 16.68-5.89-16.68h-3.42l7.22 19.87zM863.49 59.51c4.48 0 7.79-2.09 8.47-6.08h-3.15c-.42 2.32-2.2 3.46-5.28 3.46-4.07 0-6.24-2.5-6.39-7.03h14.97v-1.02c0-7.11-4.33-9.88-8.93-9.88-5.47 0-9.3 4.18-9.3 10.18v.3c0 6.12 3.98 10.07 9.6 10.07zm-6.23-12.2c.53-3.53 2.7-5.73 5.92-5.73 3.27 0 5.4 1.63 5.7 5.74h-11.62zM876.94 59.17h3.15v-10.9c0-4.9 2.55-6.16 6.54-6.35v-2.96c-3.57.11-5.28 1.67-6.54 3.91V39.3h-3.15v19.87zM907.45 59.51c4.83 0 7.3-2.43 7.3-6.04 0-4.22-2.89-5.13-7-5.89-3.64-.64-4.63-1.37-4.63-3.15 0-1.71 1.48-2.85 3.76-2.85 2.51 0 3.73.95 4.18 3.11h3.04c-.53-4.29-3.6-5.73-7.18-5.73-3.11 0-6.72 1.9-6.72 5.58 0 3.46 1.74 4.9 6.91 5.85 3.08.57 4.64 1.26 4.64 3.35 0 2.13-1.33 3.15-4.33 3.15-3.2 0-4.45-1.48-4.68-3.84h-3.08c.2 4.07 3.04 6.46 7.8 6.46zM927.67 59.51c4.48 0 7.8-2.09 8.47-6.08H933c-.42 2.32-2.2 3.46-5.28 3.46-4.07 0-6.23-2.5-6.39-7.03h14.98v-1.02c0-7.11-4.34-9.88-8.93-9.88-5.48 0-9.31 4.18-9.31 10.18v.3c0 6.12 3.99 10.07 9.61 10.07zm-6.23-12.2c.53-3.53 2.7-5.73 5.93-5.73 3.26 0 5.4 1.63 5.7 5.74h-11.63zM941.12 59.17h3.16v-10.9c0-4.9 2.54-6.16 6.53-6.35v-2.96c-3.57.11-5.28 1.67-6.53 3.91V39.3h-3.16v19.87zM960.58 59.17h4.03l7.14-19.87h-3.27l-5.81 16.68-5.9-16.68h-3.41l7.22 19.87zM975.97 59.17h3.15V39.3h-3.15v19.87zm1.52-24.01a2.1 2.1 0 002.09-2.1 2.1 2.1 0 00-2.1-2.08 2.1 2.1 0 00-2.08 2.09 2.1 2.1 0 002.09 2.09zM993.83 59.51c4.79 0 8.24-3.19 8.66-7.48h-2.92c-.35 3.23-2.9 4.86-5.7 4.86-3.84 0-6.5-2.58-6.5-7.45v-.3c0-4.67 2.77-7.56 6.38-7.56 2.74 0 5.02 1.18 5.51 4.33h3.12c-.61-5.05-4.49-6.95-8.63-6.95-5.32 0-9.65 4.1-9.65 10.18v.3c0 6.16 4.18 10.07 9.73 10.07zM1015.37 59.51c4.49 0 7.8-2.09 8.48-6.08h-3.16c-.41 2.32-2.2 3.46-5.28 3.46-4.06 0-6.23-2.5-6.38-7.03H1024v-1.02c0-7.11-4.33-9.88-8.93-9.88-5.47 0-9.31 4.18-9.31 10.18v.3c0 6.12 3.99 10.07 9.61 10.07zm-6.23-12.2c.53-3.53 2.7-5.73 5.93-5.73 3.27 0 5.4 1.63 5.7 5.74h-11.63z" fill-rule="nonzero"/></g><g><path d="M451.7 41.6c-2.17-2.12-3.5-5.53-3.93-6.72-.68-1.93-2.62-6.14-4.59-5.93-2.12.23-5.62 2.4-12.02.38-6.4-2.02-11.75 1.21-11.75 1.21 3.8-4.15 9.87-3.14 9.87-3.14s5.12 1.2 8.7-.28c3.6-1.47 7.73-4.08 11.2 1.22 3.46 5.3 5.36 10.25 7.6 6.5 2.24-3.76-1.67-11.39-2-13.01-.34-1.63-.87-8.63 5.84-10.34 6.71-1.72 10.13 6.56 10.27 11.35.13 4.8-.87 12.74 2.72 13.52 3.59.78 4.92-1.75 6.73-5.16 1.82-3.41 5.87-4.53 9.38-1.48 3.5 3.04 7.89 3.52 9.55 4.03 1.65.5 9.65 2.28 11.91-4.26-.6 2.22-3.56 9.59-19.07 5.27-3.21-.9-5.7-3.5-7.6-1.77-1.74 1.6-2.52 7.26-6.09 9.53a38.93 38.93 0 012.87 4.44c1.18 2.1 2.04 3.98 3.14 5.46.69.93 1.4 1.72 2.43 2.2 1.68.78 3.22.75 4.64.29 3.1-1 5.54-3.57 7.2-3.94-1.61.72-3.6 3.8-6.54 5.46a8.26 8.26 0 01-6.2.8 9.46 9.46 0 01-4.18-2.4c-1.99-1.8-3.72-4.5-6.51-7.26-.02 2.4-.44 5.05-1.4 7.74a26.5 26.5 0 01-7.12 10.79c2.23 1.7 3.34 3.63 3.69 5.57a8.83 8.83 0 01-2.28 7.51 8.15 8.15 0 001.08-7.2c-.21-.59-.51-1.16-.92-1.7a4.5 4.5 0 00-7.23 0 6.38 6.38 0 00-.92 1.7 8.16 8.16 0 001.08 7.2 8.83 8.83 0 01-2.28-7.51c.36-1.94 1.46-3.87 3.7-5.57a26.5 26.5 0 01-7.12-10.79 23.72 23.72 0 01-1.4-7.74c-2.8 2.76-4.53 5.46-6.52 7.26a9.46 9.46 0 01-4.17 2.4 8.26 8.26 0 01-6.21-.8c-2.94-1.66-4.92-4.74-6.53-5.46 1.66.37 4.1 2.93 7.2 3.94 1.41.46 2.95.49 4.63-.3a6.44 6.44 0 002.43-2.19c1.1-1.48 1.96-3.36 3.14-5.46.96-1.71 2.1-3.5 3.58-5.35zm13.03-.5c-2.05.02-3.06 1.7-3.31 2.2a17.2 17.2 0 00-1.39 10.8c.64 3.39 2.06 6.97 4.68 10.2a22.88 22.88 0 004.67-10.2 19 19 0 00-1.37-10.84 3.58 3.58 0 00-3.28-2.16z" fill-opacity=".7"/><path d="M419.41 30.54a9.82 9.82 0 013.6-2.6 13.32 13.32 0 016.05-.92c.71.09 1.34.2 2.02.25 1.33.12 2.66.14 3.98-.03.65-.08 1.3-.2 1.94-.4.63-.18 1.25-.49 1.9-.78 1.28-.6 2.59-1.21 3.98-1.5 1.37-.31 2.89-.21 4.24.64.68.42 1.3 1 1.85 1.68.56.7 1 1.44 1.47 2.16.93 1.44 1.8 2.95 2.72 4.28.45.65.93 1.28 1.4 1.62.5.34.82.31 1.22-.1a3.78 3.78 0 00.9-1.8c.13-.72.1-1.57 0-2.43-.25-1.73-.81-3.46-1.43-5.14-.31-.85-.65-1.65-.98-2.6a8.54 8.54 0 01-.24-.88 10.84 10.84 0 01-.17-2.51c.03-1.1.2-2.22.51-3.25a9.17 9.17 0 011.34-2.73 8.07 8.07 0 013.91-2.85 7.55 7.55 0 014.3-.34 7.8 7.8 0 014.01 2.56 14.8 14.8 0 012.74 4.89 17.38 17.38 0 01.98 6.16c0 2-.08 3.94-.03 5.81.03.94.09 1.86.23 2.7.14.85.37 1.6.72 2.11.35.52.77.77 1.4.87.6.1 1.22.13 1.8-.02 1.15-.25 2.1-1.32 2.94-2.75.43-.7.82-1.45 1.27-2.24.5-.86 1.1-1.52 1.76-2.03 2.64-2.02 5.87-1.46 8.25.72 2.44 2.12 5.21 3.03 7.44 3.65.63.17 3.44.94 4.13 1.04 1.32.2 2.47.36 3.8.3 1.33-.06 2.44-.83 3.55-1.7a7.05 7.05 0 002.28-2.9c-.63 1.68-1.03 2.26-2.2 3.22-.93.77-1.87 1.38-2.57 1.65-.51.2-1.04.29-1.56.33-.85.07-2.19.09-3.54-.06a47.7 47.7 0 01-4.01-.78c-2.9-.81-5.64-1.59-7.83-3.47a6.28 6.28 0 00-3.6-1.58 4.97 4.97 0 00-3.56 1.13c-.53.43-1 1-1.36 1.64-.4.73-.81 1.56-1.26 2.33-.45.78-.97 1.54-1.59 2.18a4.66 4.66 0 01-2.1 1.28c-.76.2-1.5.19-2.23.07l-.25-.05c-.11-.03-.2-.04-.3-.08-.2-.06-.4-.15-.6-.26-.4-.23-.77-.59-1.07-1.03-.61-.89-.92-2-1.11-3.05-.19-1.05-.26-2.09-.3-3.1-.09-2.04 0-4.03 0-5.93a14.09 14.09 0 00-.84-5.16 12.48 12.48 0 00-2.32-4.12 6.43 6.43 0 00-3.31-2.1 6.47 6.47 0 00-3.7.28 6.62 6.62 0 00-3.23 2.3 7.84 7.84 0 00-1.39 4.45c-.02.83.03 1.78.25 2.34l.94 2.56a27.84 27.84 0 011.51 5.76c.13 1.05.18 2.21-.06 3.38a5.44 5.44 0 01-1.44 2.86c-.35.35-.8.64-1.3.66-.48.03-.93-.19-1.3-.46a8.34 8.34 0 01-1.73-2.01c-.96-1.47-1.8-3-2.68-4.44-.45-.72-.88-1.47-1.34-2.05-.47-.6-.98-1.1-1.54-1.47a4.93 4.93 0 00-3.66-.68c-1.28.21-2.56.74-3.85 1.28-.65.26-1.3.55-2 .72-.68.18-1.37.28-2.05.32-1.37.09-2.73-.01-4.08-.22-.67-.1-1.37-.26-2-.39a13.05 13.05 0 00-5.95.53 9.15 9.15 0 00-3.67 2.28" fill-rule="nonzero"/></g></svg>
        %span#facts
      %address.contactDetails
        %p
          Octoply Ltd, Tamesis Dock, Albert Embankment, London, SE1 7TP
        %p
          0207 582 1066 |   Registered number:   05113433   |   VAT:   120456451
