@font-face {
  font-family: "Manrope";
  src: url("fonts/manrope.ttf");
  font-weight: 200 800;
  font-style: normal;
}
@font-face {
  font-family: "Manrope-oct";
  src: url("fonts/manrope-oct.woff2");
  font-weight: 400;
}
:root {
  font: 400 20px Manrope, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --primary: #065959;
  --tint: #06595950;
  --text: #366163;
  --background: #fff;
  background: var(--background);
  color: var(--text);
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #76CECB;
    --tint: #76CECB50;
    --text: #BEE5E8;
    --background: #213437;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  /* thumb and track color */
  scrollbar-width: 0px;
}

h2 {
  font-size: 28px;
  font-weight: 400;
  color: var(--primary);
}
h2 span {
  font-family: "Manrope-oct";
}

h3 {
  font-size: 21px;
  font-weight: 600;
  line-height: 1.3;
}

p {
  font-weight: 350;
  line-height: 1.35;
}

.logo h1 {
  height: 0;
  opacity: 0;
  margin: 0;
  overflow: hidden;
}

#contact_me_by_fax_only {
  display: none !important;
}

.tagline {
  color: #fff;
  font-weight: 720;
  margin: 0;
  font-size: 32px;
}

body {
  max-width: 50rem;
  margin: 0 auto;
}

section + section, .map {
  margin-top: 96px;
}

p, h2, h3 {
  margin-left: 16px;
  margin-right: 16px;
  max-width: 850px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  padding: 16px;
}

.projects {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
}
.projects h2 {
  grid-column-end: end;
}

.health_def {
  border: solid 2px #009EDB;
  border-radius: 24px;
  width: 100%;
  margin: 16px;
  padding: 24px 24px;
  font-size: 28px;
}
.health_def p {
  margin: auto;
  color: #009EDB;
  font-weight: 450;
  max-width: 90vw;
}
.health_def p + p {
  font-size: 20px;
  font-weight: 350;
  margin-top: 20px;
}

.img-carousel {
  max-width: 100vw;
}
.img-carousel img {
  filter: drop-shadow(0 0 10px #0002);
  max-width: 100%;
  margin: auto;
}

input, textarea {
  font-size: 16px;
  padding: 20px 0px;
  border: none;
  border-radius: 0;
  border-bottom: solid 2px var(--tint);
  background: var(--background);
  box-sizing: border-box;
  transition: all 0.3s linear;
  color: var(--text);
  font-weight: 400;
  -webkit-appearance: none;
  overflow: auto;
  width: 400px;
  max-width: 100%;
}
input:focus, textarea:focus {
  border-bottom: solid 2px var(--primary);
  outline: 0;
  box-shadow: 0 2px 6px -8px var(--tint);
}

button {
  -webkit-appearance: none;
  width: auto !important;
  height: auto !important;
  min-width: 120px;
  border-radius: 24px;
  text-align: center;
  padding: 16px 32px;
  color: var(--background) !important;
  margin-top: 5px;
  background-color: var(--primary) !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  border: none !important;
  transition: all 0.3s ease;
  outline: 0;
}
button input:not(:placeholder-shown), button textarea:not(:placeholder-shown) {
  padding: 28px 0px 12px 0px;
}
button input:not(:placeholder-shown) + label, button textarea:not(:placeholder-shown) + label {
  transform: translateY(-14px);
  opacity: 0.7;
}
button textarea + label {
  top: 20px !important;
}

form label {
  font-size: 12.5px;
  opacity: 0.8;
  font-weight: 400;
}

#login {
  display: flex;
  align-items: center;
  max-width: 40vw;
}
#login input {
  width: 15vw;
  max-width: 160px;
}

.floating__label {
  margin: 16px;
  position: relative;
}
.floating__label label {
  position: absolute;
  top: calc(50% - 7px);
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
.floating__label input:not(:placeholder-shown), .floating__label .floating__label textarea:not(:placeholder-shown) {
  padding: 28px 0px 12px 0px;
}
.floating__label input:not(:placeholder-shown) + label, .floating__label .floating__label textarea:not(:placeholder-shown) + label {
  transform: translateY(-14px);
  opacity: 0.7;
}
.floating__label textarea + label {
  top: 20px !important;
}

#contactForm {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
#contactForm h3 {
  margin: 0 0 20px 0;
}

img {
  width: 100%;
}

.location {
  margin-top: 96px;
}
.location .maps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  place-items: center;
}
.location .maps iframe {
  align-self: center;
  max-width: 100%;
  filter: drop-shadow(0 0 10px #0002);
}

.rh_subDiv {
  background-color: var(--background) !important;
  box-shadow: none !important;
}

.rh_head {
  color: var(--primary) !important;
}

footer {
  font-size: 16px;
  margin-top: 72px;
}
footer address p {
  margin-top: 8px;
  Margin-bottom: 8px;
}

.caption {
  margin: auto;
  max-width: 95vw;
}
.caption p {
  margin: auto;
  align-text: center;
  justify-text: center;
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  counter-increment: item;
  display: flex;
  align-items: center;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  padding: 2px;
  background-color: var(--primary);
  background-clip: content-box;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.contact__info {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 24px;
}

address {
  text-style: none;
}

nav.menu {
  top: 80px;
  left: 0;
  padding: 16px;
  display: fixed;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
